h1
{
    text-align: center;
    font-family: sans-serif;
}

h2
{
    font-family: sans-serif;
}

p
{
    font-family: sans-serif;
}

h3
{
    font-family: sans-serif;
}

h4
{
    font-family: sans-serif;
}

button
{
    font-family: sans-serif;
}

input
{
    font-family: sans-serif;
}

body{
    background-image: url(https://i.gifer.com/Vwy4.gif);
}

c
{
    color: blue;
}

d
{
    color: yellow;
}