#clicker{
    text-align: center;
}

.coloration{
    position: sticky;
    display: flex;
    justify-content: end;
    top: 10px;
    font-family: sans-serif;
}

h1
{
    text-align: center;
    font-family: sans-serif;
}

h2
{
    font-family: sans-serif;
}

p
{
    font-family: sans-serif;
}

h3
{
    font-family: sans-serif;
}

h4
{
    font-family: sans-serif;
}

button
{
    font-family: sans-serif;
    border: 0px;
}

input
{
    font-family: sans-serif;
}

c
{
    color: blue;
}

d
{
    color: yellow;
}

#Shears {
    background: url("images/ciseaux.png");
    width: 50px;
    height: 50px;
}

#Paper {
    background: url("images/papier.png");
    width: 50px;
    height: 50px;
}

#Stone {
    background: url("images/pierre.png");
    width: 50px;
    height: 50px;
}

#voiciunpfc {
    text-align: center;
}

#scorre {
    text-align: center;
}

#sccorre {
    text-align: center;
}

.boxpfc {
    text-align: center;
}
