#shopt{
    border: 3mm ridge;
    position: relative;
    margin:5% auto 0;
    margin-bottom: 1%;
    width: 90%;

}

#clickergame {
    border: 4mm ridge;
}

#dc, #escl, #stag, #fou{
    font-weight: bold;
    color: black;
    text-shadow:
    1px 1px 0 white,
    -1px 1px 0 white,
    -1px -1px 0 white,
    1px -1px 0 white;
}

#clickerb{
    text-align: center;
}

#escl{
    background: url('images/Pdp V2 Z.png');
    height:50px;
    width: 50px;
}

#stag{
    background: url('images/stagiaire.png');
    height:50px;
    width: 50px;
}

#fou{
    background: url('images/fou.png');
    height:50px;
    width: 50px;
}

body{
    font-family: sans-serif;
}

#esclcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#stagcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dccontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#foucontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dc{
    background: url('images/mouse.png');
    height:50px;
    width:50px;
}

#clickerbutton{
    background: url('images/Pdp v2.png');
    height:140px;
    width:140px;
}

#boutik{
    text-align: center;
    vertical-align: middle;
}

#shop{
    display: flex;
    flex-direction: row;
}

#buildings{
    border: 2mm ridge;
    position: relative;
    margin:5% auto 0;
    right:2%;
    margin-bottom: 1%;
    width: 40%;
    padding: 0.5%;
}

#upgrades{
    border: 2mm ridge;
    position: relative;
    margin:5% auto 0;
    margin-bottom: 1%;
    left:2%;
    width: 40%;
    padding: 0.5%;
}

#uptitle, #buildtitle {
    text-align: center;
}

#clicker{
    text-align: center;
}

.coloration{
    position: sticky;
    display: flex;
    justify-content: end;
    top: 10px;
}

h1
{
    text-align: center;
}

button
{
    border: 0px;
}

c
{
    color: blue;
}

d
{
    color: yellow;
}

#Shears {
    background: url("images/ciseaux.png");
    width: 50px;
    height: 50px;
}

#Paper {
    background: url("images/papier.png");
    width: 50px;
    height: 50px;
}

#Stone {
    background: url("images/pierre.png");
    width: 50px;
    height: 50px;
}

#voiciunpfc {
    text-align: center;
}

#scorre {
    text-align: center;
}

#sccorre {
    text-align: center;
}

.boxpfc {
    text-align: center;
}